<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="container row mt-3">
            <h1>Loại Giày</h1>
            <a class="btn btn-primary" th:href="@{/loaigiay/create}">Thêm mới</a>
            <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã loại giày</th>
                            <th>Tên loại giay</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lg : ${listlg}">
                            <td th:text="${lg.malg}"></td>
                            <td th:text="${lg.ten}"></td>
                            <td colspan="2">
                                <a class="btn btn-outline-primary" th:href="@{'/loaigiay/edit/'+${lg.malg}}">Sửa</a>
                                <a class="btn btn-outline-danger" th:href="@{'/loaigiay/delete/'+${lg.malg}}">Xoá</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>