<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="container row mt-3">
            <form method="post" th:action="${savelg}" th:object="${loaigiay}">
                <h1>Loại Giày</h1>
                <input hidden type="text" th:field="*{malg}">
                <div>
                    <label>Tên loại giày:</label>
                    <input class="form-control" type="text" th:field="*{ten}" name="ten">
                    <span th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Save</button>

            </form>
        </div>
    </main>
</body>

</html>