<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
<main>
    <div class="container row mt-3">
        <div th:if="${message}" class="text-danger" th:text="${message}"/>
        <div th:fragment="cart_frag">
            <form>
                <h3>Giỏ hàng của bạn</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Giày</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${session.myCartItems}">
                        <td name="mactg" th:text="${s.value.chiTietGiay.mactg} " hidden></td>
                        <td name="id" th:text="${s.getKey()} " hidden></td>
                        <td th:each="g:${listg}" th:if="${g.mag}==${s.value.chiTietGiay.mag}" th:text="${g.ten}"></td>
                        <td th:each="size:${listsize}" th:if="${size.mas}==${s.value.chiTietGiay.mas}"
                            th:text="${size.ten}"></td>
                        <td th:text="${s.value.soluong}"></td>
                        <td colspan="2">

                            <a class="btn btn-outline-primary" th:href="@{'/viewupdate/'+${s.value.chiTietGiay.mactg}}">Sửa</a>
                            <a class="btn btn-outline-danger">Xoá</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>
        <div ng-if="cart.items.length" class="panel-footer">
            <button ng-click="cart.clear()" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> Clear
            </button>
            <a th:href="@{/giohang/thanhtoan}" class="btn btn-primary">
                Checkout
            </a>
        </div>
    </div>
</main>
</body>

</html>