<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <div class="container row mt-3">
      <form method="post" th:action="${savegh}" th:object="${cart}">
        <h1>Giỏ hàng</h1>
        <input hidden type="text" name="mactg" th:field="*{chiTietGiay.mactg}">
        <div th:each="ct:${chiTietGiay}" class="form-check">
          <label>Tên giày</label>
          <input class="form-control" type="text" th:each="g:${listg}" th:if="${g.mag}==${ct.mag}" th:value="${g.ten}"
            name="tencv" disabled>
          <label>Size</label>
          <input class="form-control" type="text" th:each="s:${lists}" th:if="${s.mas}==${ct.mas}" th:value="${s.ten}"
            name="tencv" disabled>
        </div>
        <div th:each="ct:${chiTietGiay}" class="form-check">
          <label>Số lượng</label>
          <input class="form-control" type="number" th:each="si:${session.myCartItems}"
            th:if="${si.value.chiTietGiay.mactg}==${ct.mactg}" th:value="${si.value.soluong}" name="tencv">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </main>
</body>

</html>