<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="container row mt-3">
            <form method="post" th:action="${savetthd}" th:object="${giohang}">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Thông tin liên hệ</h3>
                        <label>Họ và tên:</label>
                        <span>
                            <input type="text" id="ten" name="ten" class="form-control" placeholder="Họ và tên của bạn">
                        </span>
                        <label>Số điện thoại:</label>
                        <span>
                            <input type="text" id="sdt" name="sdt" class="form-control"
                                placeholder="Số điện thoại của bạn">
                        </span>
                        <label>Địa chỉ:</label>
                        <span>
                            <input type="text" id="diachi" name="diachi" class="form-control"
                                placeholder="Địa chỉ của bạn">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h3>Đơn hàng của bạn</h3>
                        <input hidden th:field="*{magh}">
                        <input hidden name="mactg" th:field="*{mactg}">
                        <input hidden name="soluong" th:field="*{soluong}">
                        <div class="form-check row">
                            <span th:each="g : ${listg}">
                                <img th:if="${g.mag}==*{mactg}" width="200px" height="200px" th:src="@{${ g.anh}}">
                                <label th:if="${g.mag}==*{mactg}" th:text="${g.ten}"></label>
                            </span>
                            <span th:each="ctg: ${listctg}" th:if="${ctg.mactg}==*{mactg}">
                                <label th:each="size: ${lists}" th:if="${ctg.mas}==${size.mas}"
                                    th:text="${size.ten}"></label>
                            </span>
                        </div>
                        <div class="form-check">
                            <label>Giá:</label>
                            <span th:each="g : ${listg}">
                                <th:block th:if="${g.mag}==*{mactg}">
                                    <input class="form-control" type="text" disabled th:value="${g.gia}">
                                </th:block>
                            </span>
                        </div>
                        <div class="form-check">
                            <label>Số lượng:</label>
                            <th:block>
                                <input class="form-control" th:field="*{soluong}" type="text" disabled
                                    th:value="*{soluong}">
                            </th:block>
                        </div>
                        <div class="form-check">
                            <label>Tổng tiền:</label>
                            <span th:each="g : ${listg}">
                                <th:block th:if="${g.mag}==*{mactg}"
                                    th:with="gia = ${g.gia}, soluong = *{soluong}, var = ${gia * soluong}">
                                    <input class="form-control" type="text" disabled th:value="${var}">
                                </th:block>
                            </span>
                        </div>
                        <div class="form-check">
                            <label>Hình thức thanh toán</label>
                            <select class="form-select" id="httt" name="httt">
                                <option th:each="httt:${listtt}" th:value="${httt.mahttt}" th:text="${httt.ten}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Thanh toán</button>
            </form>
        </div>
    </main>
</body>

</html>