body{
    max-width: 99%;
}

.main{
    max-width: 1282px;
    margin: auto;
}

.content{
    width: 100%;
}

.container{
    margin: auto;
}

.sidebar{
    width: 25%;
}

.all_card{
    margin-left: 13px;
    margin-right: 10px;
}

.card{
    width: 24%;
    margin-right: auto;
    margin-left: auto;
}

.anh_san_pham{
    width: 50%;
}

/*Mobile: width < 740px*/
@media screen and (max-width: 46.1875em) {
    .content{
        width: 100%;
    }

    aside{
        display: none;
    }

    .card{
        width: 47%;
    }

    .btn_cart{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    .btn_buy{
        width: 100%;
        margin: auto;
    }

    .container{
        margin: auto;
    }
}

/*Tablet: width >=740px and width < 1024px*/
@media screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .content{
        width: 100%;
    }
    aside{
        display: none;
    }

    .card{
        width: 31%;
    }

    .container{
        margin: auto;
    }
}