<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a href="/admin/giay/index" class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" width="30" height="24">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/metro/344/trainers.png" alt="" width="30" height="24">
                        Thông tin sản phẩm
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/giay/index">Giày</a></li>
                        <li><a class="dropdown-item" href="/admin/chitietgiay/index">Chi tiết giày</a></li>
                        <li><a class="dropdown-item" href="/admin/size/index">Size</a></li>
                        <li><a class="dropdown-item" href="/admin/nsx/index">Nhà sản xuất</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quanlynguoidung" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/material/344/person-male.png" alt="" width="30" height="24">
                        Quản lý người dùng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="quanlynguoidung">
                        <li><a class="dropdown-item" href="/admin/nhanvien/index">Nhân viên</a></li>
                        <li><a class="dropdown-item" href="/admin/khachhang/index">Khách hàng</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="giaohang" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/android/72/truck.png" alt="" width="30" height="24">
                       Giao hàng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="giaohang">
                        <li><a class="dropdown-item" href="/admin/hoadon/findtrangthaicxn">Chờ xử lý</a></li>
                        <li><a class="dropdown-item" href="/admin/hoadon/findtrangthaidvc">Đang vận chuyển thành công</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="trahang" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/android/72/truck.png" alt="" width="30" height="24">
                       Xử lý đơn hoàn trả
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="tranghang">
                        <li><a class="dropdown-item" href="/admin/trahang/canxuly">Cần xử lý</a></li>
                        <li><a class="dropdown-item" href="/admin/trahang/daxuly">Đã xử lý</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="https://img.icons8.com/material-rounded/344/shopping-basket-success.png" alt="" width="30" height="24">
                        Xác nhận thanh toán
                    </a>
                </li>
            </ul>
            <div class="ms-4 d-flex">
                <a href="/security/login/formadmin" title="Login">
                    <img src="https://img.icons8.com/small/512/login-rounded.png" width="35" height="35">
                </a>
            </div>
            <div class="ms-4 d-flex">
                <a href="/security/logoff" title="Logout">
                    <img src="https://img.icons8.com/small/512/login-rounded-right.png" width="35" height="35">
                </a>
            </div>
        </div>
    </div>
</nav>
</html>