<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a href="/giay/index" class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" width="30" height="24">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/metro/344/trainers.png" alt="" width="30" height="24">
                        Thông tin sản phẩm
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/giay/index">Giày</a></li>
                        <li><a class="dropdown-item" href="/chitietgiay/index">Chi tiết giày</a></li>
                        <li><a class="dropdown-item" href="/size/index">Size</a></li>
                        <li><a class="dropdown-item" href="/nsx/index">Nhà sản xuất</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="quanlynguoidung" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/material/344/person-male.png" alt="" width="30" height="24">
                        Quản lý người dùng
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="quanlynguoidung">
                        <li><a class="dropdown-item" href="/nhanvien/index">Nhân viên</a></li>
                        <li><a class="dropdown-item" href="/khachhang/index">Khách hàng</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/hoadon/findtrangthai" class="nav-link">
                        <img src="https://img.icons8.com/android/72/truck.png" alt="" width="30" height="24">
                        Giao hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="https://img.icons8.com/material-rounded/344/shopping-basket-success.png" alt="" width="30" height="24">
                        Xác nhận thanh toán
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
</html>