<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/indexnv :: dynamic(~{::main})}">
    <main>
        <div class="row mt-3">
            <h1>Hóa Đơn thanh toán</h1>
            <form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Người nhận</th>
                        <th>Hình thức thanh toán</th>
                        <th>Ngày tạo</th>
                        <th>Ngày thanh toán</th>
                        <th>Ngày ship</th>
                        <th>Ngày nhận</th>
                        <th>Sđt</th>
                        <th>Địa chỉ</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="hd : ${listhd}">
                        <td th:each="kh : ${listkh}" th:if="${kh.makh}==${hd.makh}" th:text="${kh.ten}"></td>

                        <td th:each="tt:${listtt}" th:if="${tt.mahttt}==${hd.mahttt}" th:text="${tt.ten}"/>
                        <td th:text="${hd.ngaytao}"></td>
                        <td th:text="${hd.ngaythanhtoan}"></td>
                        <td th:text="${hd.ngayship}"></td>
                        <td th:text="${hd.ngaynhan}"></td>

                        <td th:each="kh : ${listkh}" th:if="${kh.makh}==${hd.makh}" th:text="${kh.sdt}"></td>
                        <td th:each="kh : ${listkh}" th:if="${kh.makh}==${hd.makh}" th:text="${kh.diachi}"></td>
                        <td th:text="${hd.tongtien}"></td>
                        <td>
                            <p th:if="${hd.trangthaihd}==1">Đã thanh toán</p>
                            <p th:if="${hd.trangthaihd}==0">Chưa thanh toán</p>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <br>
                <h1>Hóa đơn sản phẩm</h1>
                <form>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mã HD</th>
                            <th>Giày</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Trạng thái đơn hàng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cthd : ${listcthd}">
                            <td th:each="hd : ${listhd}" th:if="${cthd.mahd}==${hd.mahd}" th:text="${hd.mahd}"></td>
                            <td th:each="ctg : ${listctg}" th:if="${cthd.mactg}==${ctg.mactg}">
                                <span th:each="g : ${listg}" th:if="${ctg.mag}==${g.mag}" th:text="${g.ten}"></span>
                            </td>
                            <td th:each="ctg : ${listctg}" th:if="${cthd.mactg}==${ctg.mactg}">
                                <img th:each="g : ${listg}" th:if="${ctg.mag}==${g.mag}" width="200px" height="200px"
                                     th:src="@{${ g.anh}}">
                            </td>
                            <td th:text="${cthd.soluong}"></td>
                            <td th:each="hd : ${listhd}" th:if="${cthd.mahd}==${hd.mahd}">
                                <p th:if="${hd.trangthaidh}==0">Chờ xác nhận</p>
                                <p th:if="${hd.trangthaidh}==1">Đã xác nhận</p>
                                <p th:if="${hd.trangthaidh}==2">Đang giao hàng</p>
                                <p th:if="${hd.trangthaidh}==3">Đã nhận hàng</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </form>
        </div>
    </main>
</div>