<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a href="/giay/product" class="nav-link">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="" width="30" height="24">
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/giay/product" class="nav-link">
                        <img src="https://img.icons8.com/dotty/344/smartphone--v1.png" alt="" width="30" height="24">
                       Liên hệ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/viewfindcart" class="nav-link">
                        <img src="https://img.icons8.com/material-rounded/344/shopping-basket-success.png" alt="" width="30" height="24">
                        Đơn đã đặt
                    </a>
                </li>
            </ul>
            <div >
                <a class="nav-link" href="/listcart">
                    <img src="https://cdn-icons-png.flaticon.com/128/3737/3737372.png" alt="" width="30" height="24">
                    <span class="fw-bold text-danger">+</span>
                    <span class="fw-bold text-danger" th:text="${session.myCartNum}"/></span>
                </a>

            </div>

            <form th:action="${giayfindnamelike}" class="d-flex">
                <input class="form-control me-2" type="search"  name="name"  placeholder="Nhập tên giày" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Tìm</button>
            </form>
            <div class="ms-4 d-flex">
                <a href="/security/logoff"  title="Logout">
                    <img src="https://img.icons8.com/small/344/exit.png" width="35" height="35">
                </a>
            </div>
        </div>
    </div>
</nav>
</html>