<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="container row mt-3">
            <div th:if="${message}" class="text-danger" th:text="${message}"/>
            <form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Ctg</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="gh : ${listgh}">
                        <td th:each="listctg:${listctg}" th:if="${listctg.mactg}==${gh.mactg}"
                            th:text="${listctg.mactg}"/>
                        <td th:text="${gh.soluong}"></td>
                        <td colspan="2">
                            <a class="btn btn-primary" th:href="@{'/user/giohang/thanhtoan/'+${gh.magh}}">Thanh toán</a>
                            <a class="btn btn-outline-primary" th:href="@{'/user/giohang/edit/'+${gh.magh}}">Sửa</a>
                            <a class="btn btn-outline-danger" th:href="@{'/user/giohang/delete/'+${gh.magh}}">Xoá</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>
        </div>
    </main>
</div>