<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="container row mt-3">
            <div th:replace="~{/user/giohang/giohangkhach :: cart_frag}"></div>
            <form method="post" th:action="${savetthd}" th:object="${giohang}">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h3>Thông tin liên hệ</h3>
                        <input name="tongtien" type="text" hidden th:value="${session.myCartToTal}">
                        <div th:each="s : ${session.myCartItems}">
                            <input hidden name="soluong" th:value="${s.value.soluong}">
                            <input hidden name="mactg" th:value="${s.value.chiTietGiay.mactg}">
                        </div>
                        <label>Họ và tên:</label>
                        <span>
                            <input type="text"  th:value="${kh.ten}" name="ten" class="form-control" disabled>
                        </span>
                        <label>Số điện thoại:</label>
                        <span>
                            <input type="text" th:value="${kh.sdt}" name="sdt" class="form-control"  disabled>
                        </span>
                        <label>Địa chỉ:</label>
                        <span>
                            <input type="text" th:value="${kh.diachi}" class="form-control" disabled>
                        </span>
                        <label>Hình thức thanh toán</label>
                        <select class="form-select" id="httt" name="httt">
                            <option th:each="httt:${listtt}" th:value="${httt.mahttt}" th:text="${httt.ten}">
                            </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Thanh toán</button>
            </form>
        </div>
    </main>
</div>