<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hóa Đơn thanh toán</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1>Hóa Đơn thanh toán</h1>
<form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Mã Hóa đơn</th>
            <th>Nhân viên</th>
            <th>Khách hàng</th>
            <th>Hình thức Thanh toán</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th>Ngày ship</th>
            <th>Ngày nhận</th>
            <th>Tên người nhận</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="hd : ${listhd}">
            <td th:text="${hd.mahd}"></td>
            <td th:each="nv:${listnv}" th:if="${nv.manv}==${hd.manv}" th:text="${nv.ten}"/>
            <td th:each="kh:${listkh}" th:if="${kh.makh}==${hd.makh}" th:text="${kh.ten}"/>
            <td th:each="tt:${listtt}" th:if="${tt.mahttt}==${hd.mahttt}" th:text="${tt.ten}"/>
            <td th:each="tt:${listtt}" th:if="${tt.mahttt}==${hd.mahttt}" >

                <p th:if="${tt.mahttt}==1">Đã thanh toán</p>
                <p th:if="${tt.mahttt}==2">Chưa thanh toán</p>

            </td>
            <td th:text="${hd.ngaytao}"></td>
            <td th:text="${hd.ngayship}"></td>
            <td th:text="${hd.ngaynhan}"></td>
            <td th:text="${hd.tennguoinhan}"></td>
            <td th:text="${hd.diachi}"></td>
            <td colspan="2">
                <a class="btn btn-outline-primary" th:href="@{'/hoadon/edit/'+${hd.mahd}}">Sửa</a>
                <a class="btn btn-outline-danger" th:href="@{'/hoadon/delete/'+${hd.mahd}}">Xoá</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <h1>Hóa đơn sản phẩm</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Mã CTHD</th>
            <th>Tên Giày</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Màu sắc</th>
            <th>Size</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="cthd : ${listcthd}" >
            <td th:text="${cthd.macthd}"></td>
            <td th:each="ctg : ${listctg}" th:if="${cthd.mactg}==${ctg.mactg}" th:text="${ctg.ten}"></td>
            <td th:text="${cthd.gia}"></td>
            <td th:text="${cthd.soluong}"></td>
            <td th:each="ctg : ${listctg}" th:if="${cthd.mactg}==${ctg.mactg}" >
                <p th:each="ms: ${listms}" th:if="${ctg.mams}==${ms.mams}" th:text="${ms.ten}"></p>
            </td>
            <td th:each="ctg : ${listctg}" th:if="${cthd.mactg}==${ctg.mactg}" >
                <p th:each="s: ${lists}" th:if="${ctg.malg}==${s.mas}" th:text="${s.ten}"></p>
            </td>

        </tr>
        </tbody>
    </table>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>