<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <div class="container row mt-3">
      <form method="post" th:action="${savehd}" th:object="${hoadon}">
        <h1>HoaDon</h1>
        <input hidden type="text" th:field="*{mahd}">
        <div class="form-check">
          <a>Khách Hàng</a>
          <select class="form-select" th:field="*{makh}" name="makh">
            <option th:each="list:${listkh}" th:value="${list.makh}" th:text="${list.ten}">
            </option>
          </select>
        </div>
        <div class="form-check">
          <a>Nhân Viên</a>
          <select class="form-select" th:field="*{manv}" name="manv">
            <option th:each="list:${listnv}" th:value="${list.manv}" th:text="${list.ten}">
            </option>
          </select>
        </div>
        <div class="form-check">
          <a>Hình thức thanh toán</a>
          <select class="form-select" th:field="*{mahttt}" name="mahttt">
            <option th:each="list:${listtt}" th:value="${list.mahttt}" th:text="${list.ten}">
            </option>
          </select>
        </div>
        <div class="form-check">
          <label>Ngày tạo:</label>
          <input class="form-control" type="date" th:field="*{ngaytao}" name="ngaytao">
          <label class="text-danger" th:if="${#fields.hasErrors('ngaytao')}" th:errors="*{ngaytao}"></label>
        </div>

        <div class="form-check">
          <label> Ngày ship:</label>
          <input class="form-control" type="text" th:field="*{ngayship}" name="ngayship">
          <label class="text-danger" th:if="${#fields.hasErrors('ngayship')}" th:errors="*{ngayship}"></label>
        </div>
        <div class="form-check">
          <label>Ngày nhận:</label>
          <input class="form-control" type="text" th:field="*{ngaynhan}" name="sdt">
          <label class="text-danger" th:if="${#fields.hasErrors('ngaynhan')}" th:errors="*{ngaynhan}"></label>
        </div>
        <div class="form-check">
          <label>Ngày thanh toán:</label>
          <input class="form-control" type="text" th:field="*{ngaythanhtoan}" name="ngaythanhtoan">
          <label class="text-danger" th:if="${#fields.hasErrors('ngaythanhtoan')}" th:errors="*{ngaythanhtoan}"></label>
        </div>
        <div class="form-check">
          <label>Tên người nhận:</label>
          <input class="form-control" type="text" th:field="*{tennguoinhan}" name="tennguoinhan">
          <label class="text-danger" th:if="${#fields.hasErrors('tennguoinhan')}" th:errors="*{tennguoinhan}"></label>
        </div>
        <div class="form-check">
          <label>Địa chỉ:</label>
          <input class="form-control" type="text" th:field="*{diachi}" name="diachi">
          <label class="text-danger" th:if="${#fields.hasErrors('diachi')}" th:errors="*{diachi}"></label>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>

      </form>
    </div>
  </main>
</body>

</html>