<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <div class="container row mt-3">
      <h1>Size</h1>
      <form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" s :${lists}">
              <td th:text="${s.ten}"></td>
              <td colspan="2">
                <a class="btn btn-outline-primary" th:href="@{'/size/edit/'+${s.mas}}">Sửa</a>
                <a class="btn btn-outline-danger" th:href="@{'/size/delete/'+${s.mas}}">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </main>
</body>

</html>