<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="container row mt-3">
            <a class="btn btn-primary" th:href="@{/chitietgiay/create}">Thêm mới</a>
            <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Giày</th>
                            <th>Loại giày</th>
                            <th>Size</th>
                            <th>Nsx</th>
                            <th>Số lượng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ctg : ${listctg}">
                            <td th:each="g: ${listg}" th:if="${ctg.mag}==${g.mag}" th:text="${g.ten}"></td>
                            <td th:each="lg: ${listlg}" th:if="${ctg.malg}==${lg.malg}" th:text="${lg.ten}"></td>
                            <td th:each="size: ${listsize}" th:if="${size.mas}==${ctg.mas}" th:text="${size.ten}"></td>
                            <td th:each="nsx: ${listnsx}" th:if="${ctg.mansx}==${nsx.mansx}" th:text="${nsx.ten}"></td>
                            <td th:text="${ctg.soluong}"></td>
                            <td colspan="2">
                                <a class="btn btn-outline-primary"
                                    th:href="@{'/chitietgiay/edit/'+${ctg.mactg}}">Sửa</a>
                                <a class="btn btn-outline-danger"
                                    th:href="@{'/chitietgiay/delete/'+${ctg.mactg}}">Xoá</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>