<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/index :: dynamic(~{::main})}">

<body>
    <main>
        <div>
            <form method="post" th:action="${savectg}" th:object="${chitietgiay}">
                <h1>Chi Tiết Giày</h1>
                <input hidden type="text" th:field="*{mactg}">
                <div>
                    <label>Size:</label>
                    <select class="form-select" th:field="*{mas}" name="mas">
                        <option th:each="size : ${listsize}" th:value="${size.mas}" th:text="${size.ten}"></option>
                    </select>
                </div>
                <div>
                    <label>Nsx:</label>
                    <select class="form-select" th:field="*{mansx}" name="mansx">
                        <option th:each="nsx : ${listnsx}" th:value="${nsx.mansx}" th:text="${nsx.ten}"></option>
                    </select>
                </div>
                <div>
                    <label>Loại giày:</label>
                    <select class="form-select" th:field="*{malg}" name="malg">
                        <option th:each="lg : ${listlg}" th:value="${lg.malg}" th:text="${lg.ten}"></option>
                    </select>
                </div>
                <div>
                    <label>Giày:</label>
                    <select class="form-select" th:field="*{mag}" name="mag">
                        <option th:each="g : ${listg}" th:value="${g.mag}" th:text="${g.ten}"></option>
                    </select>
                </div>
                <div>
                    <label>Số lượng:</label>
                    <input class="form-control" type="number" th:field="*{soluong}" name="soluong">
                    <span th:if="${#fields.hasErrors('soluong')}" th:errors="*{soluong}"></span>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Save</button>
            </form>
        </div>
    </main>
</body>

</html>