<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/index :: dynamic(~{::main})}">

<body>
  <main>
    <div>
      <a class="btn btn-primary" th:href="@{/nsx/create}">Thêm mới</a>
      <h1>Nhà sản xuất </h1>
      <form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nhà sản xuất</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" nsx :${listnsx}">
              <td th:text="${nsx.ten}"></td>
              <td colspan="2">
                <a class="btn btn-outline-primary" th:href="@{'/nsx/edit/'+${nsx.mansx}}">Sửa</a>
                <a class="btn btn-outline-danger" th:href="@{'/nsx/delete/'+${nsx.mansx}}">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </main>
</body>

</html>