<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <div class="container row mt-3">
      <h1>Nha san xuat </h1>
      <form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nhà sản xuất</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" nsx :${listnsx}">
              <td th:text="${nsx.ten}"></td>
              <td colspan="2">
                <a class="btn btn-outline-primary" th:href="@{'/nsx/edit/'+${nsx.mas}}">Sửa</a>
                <a class="btn btn-outline-danger" th:href="@{'/nsx/delete/'+${nsx.mas}}">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </main>
</body>

</html>