<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/indexnv :: dynamic(~{::main})}">
    <main>
        <div>
            <form method="post" th:action="${saves}" th:object="${size}">
                <h1>Size</h1>
                <input hidden type="text" th:field="*{mas}">
                <div class="form-check">
                    <label>Size:</label>
                    <input class="form-control" type="text" th:field="*{ten}" name="ten">
                    <label class="text-danger" th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></label>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </main>
</div>