<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Màu Sắc</title>

</head>
<body>
<form method="post" th:action="${savems}" th:object="${mausac}">
    <h1>Màu Sắc</h1>
    <input hidden type="text" th:field="*{mams}">
    <div>
        <label>Tên màu:</label>
        <input type="text" th:field="*{ten}" name="ten">
        <span th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>
    </div>
    <button type="submit">Save</button>

</form>
</body>
</html>