<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/index :: dynamic(~{::main})}">

<body>
    <main>
        <div>
            <h1>Nhân viên</h1>
            <a class="btn btn-primary" th:href="@{/nhanvien/create}">Thêm mới</a>
            <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Chức vụ</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Sđt</th>
                            <th>Mật khẩu</th>
                            <th>Trang thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nv : ${listnv}">
                            <td th:text="${nv.ten}"></td>
                            <td th:each="cv: ${listcv}" th:if="${nv.macv}==${cv.macv}" th:text="${cv.tencv}"></td>
                            <td th:text="${nv.ngaysinh}"></td>
                            <td>
                                <p th:if="${nv.gioitinh}==1">Nam</p>
                                <p th:if="${nv.gioitinh}==0">Nữ</p>
                            </td>
                            <td th:text="${nv.email}"></td>
                            <td th:text="${nv.diachi}"></td>
                            <td th:text="${nv.sdt}"></td>
                            <td th:text="${nv.matkhau}"></td>
                            <td>
                                <p th:if="${nv.trangthai}==1">Đang hoạt động</p>
                                <p th:if="${nv.trangthai}==0">Ngừng hoạt động</p>
                            </td>
                            <td colspan="2">
                                <a class="btn btn-outline-primary" th:href="@{'/nhanvien/edit/'+${nv.manv}}">Sửa</a>
                                <a class="btn btn-outline-danger" th:href="@{'/nhanvien/delete/'+${nv.manv}}">Xoá</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>