<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutnv/index :: dynamic(~{::main})}">

<body>
<main>
    <div >
        <a class="btn btn-primary" th:href="@{/giay/create}">Thêm mới</a>
        <form>
            <table class="mt-3 table table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Ảnh</th>
                    <th>Mô tả</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="g : ${listg}">
                    <td th:text="${g.ten}"></td>
                    <td th:text="${g.gia}"></td>
                    <td><img width="100px" height="100px" th:src="@{${ g.anh}}"></td>
                    <td th:text="${g.mota}"></td>
                    <td colspan="2">
                        <a class="btn btn-outline-primary" th:href="@{'/giay/edit/'+${g.mag}}">Sửa</a>
                        <a class="btn btn-outline-danger" th:href="@{'/giay/delete/'+${g.mag}}">Xoá</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="row m-0 mt-2">
            <ul class="pagination justify-content-center">
                <li th:class="${index==1}? 'page-item disable' : 'page-item'">
                    <a class="page-link" th:href="@{/giay/index?page=0}">First</a>
                </li>
                <li th:class="${index==1}? 'page-item disable' : 'page-item'">
                    <a class="page-link" aria-label="Previous"
                       title="Go to previous page" th:href="@{|${baseUrl}${pre}|}">
                        <span aria-hidden="true">&laquo;</span>
                        <!--                        <span class="sr-only">Previous</span>-->
                    </a>
                </li>
                <li th:each="item : ${#numbers.sequence(begin,end)}"
                    th:class="${item==index}? 'page-item disable' : 'page-item'">
                    <a class="page-link" aria-label="Previous"
                       th:href="@{|${baseUrl}${item}|}">
                        <span th:text="${item}+1">1</span>
                    </a>
                </li>
                <li th:class="${index==totalPages}? 'page-item disable' : 'page-item'">
                    <a class="page-link" aria-label="Next"
                       title="Go to next page" th:href="@{|${baseUrl}${next}|}">
                        <span aria-hidden="true">&raquo;</span>
                        <!--                        <span class="sr-only">Next</span>-->
                    </a>
                </li>
                <li th:class="${index==totalPages}? 'page-item disable' : 'page-item'">
                    <a class="page-link" th:href="@{|${baseUrl}${totalPages}|}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</main>
</body>

</html>