<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div class="row mt-3">
            <a class="btn btn-primary" th:href="@{/giay/create}">Thêm mới</a>
            <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Ảnh</th>
                            <th>Mô tả</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="g : ${listg}">
                            <td th:text="${g.ten}"></td>
                            <td th:text="${g.gia}"></td>
                            <td><img width="200px" height="200px" th:src="@{${ g.anh}}"></td>
                            <td th:text="${g.mota}"></td>
                            <td colspan="2">
                                <a class="btn btn-outline-primary" th:href="@{'/giay/edit/'+${g.mag}}">Sửa</a>
                                <a class="btn btn-outline-danger" th:href="@{'/giay/delete/'+${g.mag}}">Xoá</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>

</html>