<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
    <div class=" row">
        <div th:each="g : ${listg}" class="card mt-2 col-sm-3">
            <img class="mt-2" th:src="@{${ g.anh}}">
            <div class="card-body">
                <h5 class="card-title" th:text="${ g.ten}"></h5>
                <p class="card-text" th:text="${ g.gia}"></p>
                <a th:href="@{'/giay/buy/'+${g.mag}}" class="btn btn-success">Buy</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>