<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
  <main>
    <div class="row mt-3">
      <h1>Thanh toán </h1>
      <form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Thanh toán</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" tt :${listtt}">
              <td th:text="${tt.ten}"></td>
              <td colspan="2">
                <a class="btn btn-outline-primary" th:href="@{'/thanhtoan/edit/'+${tt.mahttt}}">Sửa</a>
                <a class="btn btn-outline-danger" th:href="@{'/thanhtoan/delete/'+${tt.mahttt}}">Xoá</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </main>
</body>

</html>