<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="container row mt-3" >

            <h1>Đơn hàng</h1>
            <form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Ngày mua</th>
                        <th>Ngày ship</th>
                        <th>Sản phẩm</th>
                        <th>Tổng tiền</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="hd:${hoaDonList}">
                        <td th:text="${hd.mahd}"/>
                        <td th:each="kh : ${khachHangList}" th:if="${hd.makh}==${kh.makh}" th:text="${kh.ten}"/>
                        <td th:each="kh : ${khachHangList}" th:if="${hd.makh}==${kh.makh}" th:text="${kh.diachi}"/>
                        <td>
                            <p th:if="${hd.trangthaihd}==0">Đã thanh toán</p>
                            <p th:if="${hd.trangthaihd}==1">Chưa thanh toán</p>
                        </td>
                        <td>
                            <p th:if="${hd.trangthaidh}==0">Đang xử lý</p>
                            <p th:if="${hd.trangthaidh}==1">Đang vận chuyển</p>
                            <p th:if="${hd.trangthaidh}==2">Đã giao hàng</p>
                        </td>
                        <td th:text="${hd.ngaytao}"></td>
                        <td>
                            <p th:if="${hd.ngayship}!=null" th:text="${hd.ngayship}"></p>
                            <p th:if="${hd.ngayship}==null">Đang xử lý</p></td>
                        <td>
                            <a th:href="@{'/user/cart/purchasedproduct/'+${hd.mahd}}">Xem chi tiết</a>
                        </td>
                        <td th:text="${hd.tongtien}"></td>
                        <td  th:if="${hd.trangthaidh}==2  ">
                            <label th:if="${hd.danhgia}==1" >Đã đánh giá</label>
                            <a th:href="@{'/user/danhgia/create/'+${hd.mahd}}" th:if="${hd.danhgia}==0">Đánh giá</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</div>